.nav {
  width: 100%;
  padding: .5rem;

  background-color: rgb(226, 226, 226);
}

.nav__menu {
  list-style: none;
  width: 100%;

  display: flex;
}

.nav__menu__item {
  color: #333;
  margin: 0 2rem;
  padding: .3em 1em;

  border-radius: 10px;
}

.nav__menu__item:hover {
  color: white; 
  background-color: rgb(206, 52, 50);
}

/* Link style clear */
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}